{% extends 'base.html' %}

{% block content %}
<div class="row mt-5">
    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">About</h5>
                <p class="card-text">{{ user.about }}</p>
            </div>
        </div>
    </div>

    <div class="col-md-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h5 class="card-title">Find me Here</h5>
                <div class="mb-3">
                    <i class="bi bi-twitter"></i>
                    <a href="{{ user.twitter }}" target="_blank">Twitter</a>
                </div>
                <div class="mb-3">
                    <i class="bi bi-linkedin"></i>
                    <a href="{{ user.linkedin }}" target="_blank">LinkedIn</a>
                </div>
                <div class="mb-3">
                    <i class="bi bi-github"></i>
                    <a href="{{ user.github }}" target="_blank">Github</a>
                </div>
                <h6 class="card-subtitle mb-2 text-muted">Contact me at:</h6>
                <a href="mailto:{{ user.email }}">{{ user.email }}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
